.main__div{
    height: 60vh;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5E2BB
  
    
}
.navBar-logo {
    height: 3rem;
  }

.ul__listaNav {
    display: flex;
    list-style: none;
    height: .1rem;

}

.li__listaNav a{
    color: black;
    padding: .6rem;
    text-decoration: none;
}

.cartWidget {
    display: flex;
    align-items: center;
}

.cartWidget__img {
    height: 5rem;
}

.cart__notification {
    padding-right: 2rem;
    color: red;
}